/****************/
/******세은******/
/****************/

/* 회원가입-희망포지션(text) */
.form_row.form_flex.posi {align-items: flex-start;flex-direction: column;}
.form_row.form_flex.posi .opt1 {display: block; font-size: 13px; color: #5f5f5f;}

/* 가입하기 버튼 */

.form_row.join {display: flex; justify-content: center; margin-top: 60px;}
.form_row.update_user_info {display: flex; justify-content: space-between; margin-top: 60px; padding: 0px 200px;}

.form_row.join {display: flex; justify-content: center; margin: 60px 0px;}
.form_row.update_user_info {display: flex; justify-content: space-between; margin: 60px 0px; padding: 0px 200px;}


/* 중복버튼 관련 */
.int_cert {display:flex;align-items:center;height:50px;margin-left:10px;}


/*** 회원가입약관 ***/
.clearfix::after{content: "";display: block;clear: both;}
/* //reset */

#joinForm{width: 700px;margin: 0 auto;}
ul.join_box{border: 1px solid #ddd;background-color: #fff;}
.checkBox,.checkBox>ul{position: relative;}
.checkBox>ul>li{float: left;}
.checkBox>ul>li:first-child{width: 85%;padding: 15px;font-weight: 500;color: #888;}
.checkBox>ul>li:nth-child(2){position: absolute;top: 50%;right: 6px;margin-top: -12px;}
li.checkBox.check03{padding-bottom: 15px;}
.checkBox textarea{width: 96%;height: 90px; margin: 0 2%;background-color: #f7f7f7;color: #888; border: none;}
.footBtwrap{margin: 15px 0px;}
.footBtwrap>li{float: left; width: 50%; height: 60px;}
.footBtwrap>li>button{display: block; width: 100%;height: 100%; font-size: 20px;text-align: center;line-height: 60px;}
.fpmgBt1{background-color: #f7f7f7;color:#888; }
.fpmgBt2{background-color: #006DAB; color: #fff;}

/*---------------------------------------
---------  마이페이지-클럽보기  -----------
---------------------------------------*/

/* 클럽이 없을 경우 */
.none_club .none {font-size: 20px;text-align: center;}
.none_club .clubMem_body {display: block;padding: 50px 0 40px;}
.none_club .foot_btn {margin: 0;}

/* 클럽이 있을 경우 */
.case3_clubMem {padding: 30px 20px;}
.mypage_club__info .clubMem_head {padding-bottom: 20px;border-bottom: 1px solid #9e9e9e;}
.mypage_club__info .clubMem_head .sub_title {margin-bottom: 0;}
.clubMem_body {display: flex;align-items: center;padding-top: 40px;}
.cImg_logo {width: 250px; height: 250px;}
.cImg_logo.none {display: flex;align-items: center;justify-content: center;
    width: 250px; height: 250px;border: 1px solid #bbbbbb;background-color: #ececec;
    font-size: 14px;color: #555;}
.clubInfo_inner {display: flex;align-items: flex-end;justify-content: space-between;
    width: calc(100% - 290px);margin-left: 40px;}
.clubInfo > .matchInfo_title {font-size: 22px;font-weight: bold;color: #444;margin-bottom: 20px;}
.info_li {margin-bottom: 8px;}
.info_li:last-child {margin-bottom: 0;}
.info_li>span {margin-left: 10px;}
.case3_clubMem .foot_btn {margin: 0;}